.navbar {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
    font-size: 1.45rem;
    font-weight: 525;
    color: #007bff;
    display: flex;
    align-items: center;
}

.navbar-logo {
    width: 60px;
    height: 60px;
    margin-right: 10px;
    border-radius: 5px;
}

.navbar-nav .nav-link {
    font-size: 1rem;
    margin-left: 20px;
    color: #333;
    transition: color 0.3s ease;
}

.navbar-nav .nav-link:hover {
    color: #007bff;
}


/* navbar.css */

.custom-dropdown {
    position: relative;
}

.custom-dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    float: left;
    min-width: 10rem;
    padding: 0.5rem 0;
    margin: 0;
    font-size: 1rem;
    text-align: left;
    list-style: none;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: 0.25rem 1.5rem;
    clear: both;
    color: #212529;
    text-decoration: none;
    white-space: nowrap;
}

.dropdown-item:hover {
    background-color: #f8f9fa;
}